{% extends "base.html" %}

{% block body %}
{% load static %}
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <main class="col-md-9">
                <div class="card">

                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" width="120">Quantity</th>
                                <th scope="col" width="120">Price</th>
                                <th scope="col" class="text-right" width="200"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart_items %}
                            <tr>
                                <td>
                                    <figure class="itemside">
                                        <div class="aside"><img src={{item.product.product_images.first.image.url}}
                                                class="img-sm"></div>
                                        <figcaption class="info">
                                            <a href="#" class="title text-dark">{{item.product.product_name}}</a>
                                            <p class="text-muted small">{% if item.size_variant%}Size:
                                                {{item.size_variant.size_name}} <br>{% endif %} Color: blue<br> </p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>
                                    {% comment %} <select class="form-control"
                                        onchange="update_cart_quantity('{{ item.uid }}', this.value)">
                                        <option value="1" {% if item.quantity == 1 %}selected{% endif %}>1</option>
                                        <option value="2" {% if item.quantity == 2 %}selected{% endif %}>2</option>
                                        <option value="3" {% if item.quantity == 3 %}selected{% endif %}>3</option>
                                        <option value="4" {% if item.quantity == 4 %}selected{% endif %}>4</option>
                                    </select> {% endcomment %}
                                    <input type="number" onchange="update_cart_quantity('{{ item.uid }}', this.value)" value={{item.quantity}}>
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <var class="price">${{item.get_product_price}}.00</var>
                                    </div> <!-- price-wrap .// -->
                                </td>
                                <td class="text-right">
                                    <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light"
                                        data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
                                    <a href="{% url 'remove_from_cart' item.uid  %}" class="btn btn-light"> Remove</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="card-body border-top">
                        {% if cart_items %}
                        <a href="{% url 'confirm_order' cart.uid %}" class="btn btn-primary float-md-right"> Make Purchase <i
                                class="fa fa-chevron-right"></i> </a>
                        {% endif %}
                        <a href="{% url 'index' %}" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
                    </div>
                </div> <!-- card.// -->

                <div class="alert alert-success mt-3">
                    <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
                </div>

            </main> <!-- col.// -->
            <aside class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <form method = "post">
                            {% csrf_token %}
                            {% include "alert.html" %}
                            <div class="form-group">
                                <label>Have coupon?</label>
                                <div class="input-group">
                                    <input type="text" name="coupon" class="form-control" placeholder="Coupon code">
                                    <span class="input-group-append">
                                        <button type="submit" class="btn btn-primary">Apply</button>
                                    </span>
                                </div>
                            </div>
                            {% if cart.coupon %}
                            <a href="{% url 'cart' %}?remove-coupon={{ cart.coupon.coupon_code }}" class = "btn btn-success">{{cart.coupon.coupon_code}}</a>
                            {% endif %}
                        </form>
                    </div>
                </div> 
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right">{{total_price}}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Discount:</dt>
                            <dd class="text-right">{{discounted_price}}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right  h5"><strong>${{after_discount_price}}</strong></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="{% static 'images/misc/payments.png' %} " height="26">
                        </p>

                    </div> <!-- card-body.// -->
                </div> <!-- card .// -->
            </aside> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</section>

<script>
    function update_cart_quantity(item, value){
        console.log(item, value)
    window.location.href = `http://127.0.0.1:8000/users/cart/?item-uid=${item}&quantity=${value}`
    }
</script>

{% endblock body %}